body {
    margin: 0;
    background: #111;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-panel {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    font-family: sans-serif;
    pointer-events: none; /* So it doesn't block mouse events */
    z-index: 100;
} 